<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.mapper.PrivMapper">

    <select id="selectPrivsByAid" resultType="Priv">
       select * from tc_priv
       where pid in(select pid from tc_role_priv
       where rid in(select rid from tc_admin_role
       where aid =#{aid} )) and  state = 1
    </select>

    <select id="selectPrivByRid" resultType="Priv">
        select * from tc_priv
        where pid in(select pid from tc_role_priv
                     where rid=#{rid}) and state=1
    </select>

    <select id="selectAllPrivs" resultType="Priv">
        select * from tc_priv where state = 1
    </select>
</mapper>